config.txt
/__pycache__
proxy/proxies.txt
scan_log.txt
scan_anon_log.txt
*.json
qr_login.png
/proxy/__pycache__
README.zh-CN.md
scan.zip
red_packet_monitor.db
red_packet_monitor.db-shm
red_packet_monitor.db-wal
