README.zh-CN.md
/auth/__pycache__
/backend/auth/__pycache__
/backend/__pycache__
*.pyc
backend/config.txt
backend/deprecated/browser_simulator_scanner/config.txt
/backend/proxy
data/qr_login.png
*.json
*.db
*.db-shm
*.db-wal
